:root {
  --color-primary: #222e42;
  --color-secondary: #e7e4e4;
  --color-white: #ffffff;
  --color-dark-text: #333;
  --color-light-bg: #f5f5f5;
  --color-border: #a8a1a1;
  --color-completed: #2bc72b;
  --color-remove: #d9534f;
  --color-input-border: #d1cdcd;
  --color-lettring: #c9c7c7;
  --color-taskCompleted: #b3b2b2;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container {
  background-color: var(--color-secondary);
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 100%;
  max-width: 350px;
  min-height: 400px;
  margin-top: 5rem;
  margin-right: 4rem;

  /* Garantir que o conteúdo do formulário também fique centralizado */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login-body h2 {
  margin-bottom: 1rem;
  color: var(--color-dark-text);
}

.login-body form {
  border-top: 1px solid var(--color-border);
  padding-top: 1rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid var(--color-input-border);
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

p {
  display: flex;
  justify-content: left;
  margin: 0 0 5px 0;
}

button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.enterAccount {
  margin-top: 20px;
}

button:hover {
  background-color: #1d2738;
}

.forgot,
.notAccount,
.backLogin {
  margin-top: 12px;
  font-size: 14px;
}

.forgot a,
.notAccount a,
.backLogin a {
  color: #007bff;
  text-decoration: none;
}

.forgot a:hover,
.notAccount a:hover,
.backLogin a:hover {
  text-decoration: underline;
}


